hidden = [".config", "package-lock.json"]
run = "xvfb-run --auto-servernum --server-num=1 -s \"-ac -screen 0 640x480x24\" npm run start:live"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "xvfb-run -s \"-ac -screen 0 1280x1024x24\" npm run start:live"] #https://github.com/stackgl/headless-gl#readme
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80
